* {
    box-sizing: border-box;
}

.section-kontenSatu{
    background-image: url(assets/image/bg1.jpg);
    padding-top: 250px;
    min-height: 1217px;
    background-size:cover;
}

.section-boxWhite{
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 20px !important;
}